*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 11px;
}

#wrapper{
    width: 970px;
    background: #eeeeee;
    padding: 5px;
}

#top, #row-names, #row-headers, #row-markers{
    color:#f00;
}

#top div{
    display: inline-block;
    width: 50px;
} 

#corner-box{
        margin-right: -16px;
}

#corner-box h6{
    font-size: 11px;
    font-weight: normal;
}

#top p{
    display: inline-block;
    width: 45px;
    text-align: center;
    vertical-align: top;
}

#bigger-gap{
    margin-left: 10px; 
}

#center{
    margin-top: 3px;
}

.element-container{
    display: inline-block;
    vertical-align: bottom;
}

.column{
    display: inline-block;
    vertical-align: bottom;
    margin-right: -4px;
}

#row-names p{
    line-height: 47px;
    margin: 1px 12px;
}

.element{
    text-align: center;
    height: 45px;
    width: 45px;
    border: 1px solid black;
    margin: 1px;
}

.element h3{
    font-size: 14px;
    color: #1913a2;
    margin: 1px 0;
}

#columns-1-2 .element{
    background: #689bff;
}

#columns-3-12{
    margin-left: 10px;
}

#columns-3-12 .element{
    background: #fd9a98;
}

#columns-13-18 .element{
    background: #fecb00;
}

#row-headers, #row-markers{
    height: 90px;
    line-height: 45px;
}

#row-headers p, #row-markers p{
    padding-left: 30px;
}

#row-markers p{
        text-align: right;
}

#bottom-rows .element{
    background: #1fca21;
}